.greeting {
  font-size: 1rem;
  font-weight: bold;
  @media screen and (max-width: 570px) {
    font-size: 0.7rem;
  }
}

.usersInput {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 470px) {
    justify-content: space-between;
    align-items: start;
  }
}

.content {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 570px) {
    gap: 5px;
  }
}

.leftSection {
  flex: 1;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.rightSection {
  flex: 1;
  padding-left: 20px;
  transition: width 0.3s ease;
  @media screen and (max-width: 720px) {
    width: 220px;
  }
}

@media screen and (max-width: 520px) {
  .leftSectionHidden {
    display: none;
  }

  .rightSectionFull {
    width: 100%;
    padding-left: 0;
  }
}

.noResults {
  margin-top: 20vh;
  text-align: center;
  font-size: 1.5rem;
}
