.greeting {
  color: white;
}

.results-container {
  display: flex;
  width: 100%;
}

.results-left {
  flex: 1;
}

.results-left p {
  text-align: end;
  font-size: 1.5rem;
  color: white;
}

.results-right {
  flex: 1;
  margin-top: 25px;
}

.pagination {
  margin: 15px;
}

.pagination span {
  margin: 5px;
  font-size: 1.2rem;
  color: #fdfdfd;
}
