.container[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}

.container[data-theme='dark'] {
  background-color: #121212;
  color: #ffffff;
}

.theme-selector {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.theme-selector label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.theme-selector input[type='radio'] {
  margin: 0;
  cursor: pointer;
}

.theme-selector[data-theme='light'] input[type='radio'] {
  accent-color: black;
}

.theme-selector[data-theme='dark'] input[type='radio'] {
  accent-color: white;
}

.greeting {
  font-size: 1rem;
  font-weight: bold;
}

.content {
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.left-section {
  width: 100%;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.right-section {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.split-view .left-section {
  width: 50%;
}

.split-view .right-section {
  width: 50%;
  border-left: 2px solid #ccc;
  padding-left: 20px;
  overflow-y: auto;
}

.no-results {
  text-align: center;
  font-size: 1.5rem;
}
