.greeting {
  font-size: 1rem;
  font-weight: bold;
}

.users-input {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-grow: 1;
  gap: 20px;
}

.left-section {
  width: 100%;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.right-section {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.split-view .left-section {
  width: 50%;
}

.split-view .right-section {
  width: 50%;
  border-left: 2px solid #ccc;
  padding-left: 20px;
  overflow-y: auto;
}

.no-results {
  text-align: center;
  font-size: 1.5rem;
}
