.results {
  background-color: rgb(168, 189, 247);
  padding: 0.5rem;
  margin: 1rem 0;
}

.result-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
